/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
composer.lock
tmp
/nbproject/private/nbproject/
web/app_dev.php
web/config.php
app/cache/
app/logs/
*.cache
app/SymfonyRequirements.php
nbproject/
master.zip
web/bower_components/
